.App {
  text-align: center;
 
}
.card{ 
  display: flex;
  flex-direction: column;
  width: 20vw;
   
  margin: 30px 39%;
}
.Full {
   margin: 30px 38%;
   
}
.contact{
  margin: 50px;
  padding: 50px;
}

.footer {
margin-top: 100px;
}

